section.product-detail {
  height: 100vh;
}

section.product-detail .wrapper-image {
  width: max-content;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

section.product-detail img {
  width: auto;
  height: 730px;
  object-fit: contain;
}

section.product-detail .img {
  position: relative;
  transition-duration: 0.5s;
}

section.product-detail .button-circle[data-tab="tab1"] {
  position: absolute;
  left: 64%;
  top: 34.5%;
}

section.product-detail .button-circle[data-tab="tab2"] {
  position: absolute;
  left: 51.5%;
  top: 57%;
}

section.product-detail .button-circle[data-tab="tab3"] {
  position: absolute;
  left: 20%;
  top: 72%;
}

section.product-detail .button-circle .text {
  color: #ffffff;
  text-shadow: 0 0 3px rgba(24, 24, 24, 0.8);
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 150px;
  height: 12px;
  transform: translateY(-50%) !important;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

section.product-detail .button-circle .text::after {
  content: attr(data-text);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 10px;
  line-height: 12px;
  font-family: var(--font-body);
}

section.product-detail .button-circle:hover .text,
section.product-detail .button-circle.open .text {
  opacity: 1;
  visibility: visible;
}

section.product-detail .button-circle.open .text {
  margin-left: 5px;
}

section.product-detail .button-circle.open .text::after {
  content: "CLOSE";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

section.product-detail .list-button {
  width: 40px;
  height: 0;
}

section.product-detail .content.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

section.product-detail .content.active .wrapper-image {
  max-width: 50%;
}

section.product-detail .wrapper-content {
  width: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section.product-detail .content.active .wrapper-content {
  /* max-width: 50%; */
}

section.product-detail .content {
  width: 100%;
  display: flex;
}

section.product-detail .wrapper-content .tab {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateX(100%);
  transition-duration: 0.5s;
}

section.product-detail .content.active .tab {
  transform: translateX(0);
  transition-delay: 1s;
}

section.product-detail .content.active .tab.active {
  z-index: 2;
}

section.product-detail .wrapper-content .tab-img {
  width: 100%;
  aspect-ratio: 465 / 348;
  margin-top: 40px;
}

section.product-detail .wrapper-content .tab img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.product-detail .wrapper-content .tab .desc {
  margin-top: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #111111;
  font-family: var(--font-body);
}

section.product-detail .wrapper-content .tab .title {
  font-size: 36px;
  line-height: 43px;
  color: #000;
  font-family: var(--font-heading);
  margin-bottom: 0;
}

section.product-detail .content.active .img img {
  transition-delay: 1s;
}

section.product-detail .content.active.tab1 .img img {
  transform: scale(2.5) translate(-100px, 100px);
  transition-duration: 0.7s;
}

section.product-detail .content.active.tab1 .button-circle[data-tab="tab1"] {
  left: 60%;
  top: 55%;
}

section.product-detail .content.active.tab2 .img img {
  transform: scale(2.5) translate(-20px, 0);
  transition-duration: 0.7s;
}

section.product-detail .content.active.tab3 .img img {
  transform: scale(2) translate(100px, -90px);
  transition-duration: 0.7s;
}

.button-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: border 0.3s ease-in;
  cursor: pointer;
}

.button-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.button-circle.open::before {
  width: 30px;
  height: 30px;
  border: none;
}

.button-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  transform-origin: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #fff;
  color: #fff;
  animation: scalebutton 4s infinite;
  z-index: 2;
}

.button-circle.open::after {
  background-color: transparent;
  background-image: url("../images/svg/product-detail-close.svg");
  background-size: cover;
  animation: none;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border: none;
}

.button-circle.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 2;
  transition: opacity 300ms;
  opacity: 0;
}

@keyframes scalebutton {
  0% {
    opacity: 0;
    border-width: 2px;
    transform: scale(0);
    background-color: currentColor;
  }
  50% {
    opacity: 1;
    transform: scale(1);
    border-width: 2px;
    background-color: currentColor;
  }
  100% {
    opacity: 0;
    border-width: 1px;
    background-color: transparent;
    transform: scale(2);
  }
}
