:root {
  --font-heading: "Genath", sans-serif;
  --font-body: "Atlas Grotesk", sans-serif;
  --bg-body: #e9eaec;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", serif;
  overflow-x: hidden;
  background-color: var(--bg-body);
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header__container {
  padding: 28px 0;
}
.header__logo {
  display: inline-block;

  will-change: transform;
  animation: transitionLogo 1s ease forwards;
}
/* end header */
/* section hero */
.hero {
  background-color: var(--bg-body);
  height: 650vh;
}
.hero__img {
  width: 100%;
  height: 100%;
  padding: 80px 80px 0;
  will-change: transform;
  transform-origin: bottom;
  transform: scale(0.5);
}
.hero__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
@keyframes transitionLogo {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0px);
  }
}

/* end section hero */
/* section intro */
.intro {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.intro canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.details {
  text-align: center;
  padding: 120px 0;
}
.details h1 {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 72px;
  color: #000;
  margin-bottom: 24px;
  overflow: hidden;
}
.details p {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  color: #111;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 24px;
}
.splitting .word {
  white-space: nowrap;
}
.animate-zoomin {
  will-change: transform;
}
/* product-sku  */
.product-sku__name {
  font-family: var(--font-heading);
  font-size: 100px;
  line-height: 108px;
  font-weight: 400;
  color: #8e8e8d66;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: -1;
}
section.product-variant {
  position: relative;
  width: 100%;
}
.product-sku {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.product-sku__container {
  position: relative;
  height: 660px;
}
.product-sku__img {
  width: auto;
  height: 660px;
}
.product-sku__img img {
  width: auto;
  height: 100%;
}
@media (max-width: 1600px) {
  .product-sku__img,
  .product-sku__container {
    height: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .ball-text {
    font-size: 2rem;
    right: 50%;
    bottom: 25%;
    transform: translate(50%, 50%);
  }
  h1 {
    font-size: 2rem;
  }
}
/* end section intro */
