:root {
  --font-heading: "Genath", sans-serif;
  --font-body: "Atlas Grotesk", sans-serif;
  --bg-body: #e9eaec;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: var(--bg-body);
}

/* style sticky menu */
.sticky-menu {
  position: fixed;
  bottom: 40px;
  right: 0;
  left: 0;
  max-width: max-content;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  margin: 0 auto;
  transition: width 0.4s ease-in-out, opacity 0.3s ease;
  transform-style: preserve-3d;
  animation: sticky-menu 1s ease forwards;
}
.sticky-menu.hide {
  opacity: 0;
  visibility: hidden;
}
@keyframes sticky-menu {
  from {
    bottom: -40px;
  }
  to {
    bottom: 40px;
  }
}
.sticky-menu__container ul {
  list-style-type: none;
  padding: 8px;
  display: flex;
  align-items: center;
  margin: 0;
}
.sticky-menu__container ul li {
  padding: 6px 16px;
}
.sticky-menu__container ul li a {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  font-family: var(--font-body);
  display: inline-block;
  color: rgba(17, 17, 17, 0.4);
  position: relative;
  transition: color 0.3s ease;
}
.sticky-menu__container ul li a:hover {
  color: #111;
}
.sticky-menu__container ul li:last-child {
  padding: 0;
}
.sticky-menu__container ul li a.active {
  color: #111;
}
.sticky-menu__container ul li a.btn-buy {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #111111;
  font-size: 12px;
  line-height: 12px;
  padding: 12px 24px;
  margin-left: 14px;
  transition: all 0.3s ease;
  border: 1px solid #111;
  white-space: nowrap;
}
.sticky-menu__container ul li a.book {
  margin-left: 0;
}
.sticky-menu__container ul li a.btn-buy::before {
  content: unset;
}
.sticky-menu__container ul li a.btn-buy:hover {
  /* color: #111; */
  border: 1px solid #111;
  /* background-color: #fff; */
}
.sticky-menu__container ul li a.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.sticky-menu__container ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #111;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sticky-menu__container ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* style sticky menu */
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}
.header__container {
  padding: 28px 0;
}
.header__logo {
  display: inline-block;

  will-change: transform;
  animation: transitionLogo 1s ease forwards;
}
/* end header */
/* section hero */
.hero {
  background-color: var(--bg-body);
  height: 300vh;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
}
.hero__img {
  width: 100%;
  height: 100%;
  padding: 80px 80px 0;
  will-change: transform;
  transform-origin: bottom;
  transform: scale(0.5);
}
.hero__img img {
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
  object-position: top;
}
@keyframes transitionLogo {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(0px);
  }
}

/* end section hero */
/* section intro */
.intro {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.intro canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.details {
  text-align: center;
  padding: 120px 0;
  padding-bottom: 0;
}
.details h1 {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 72px;
  color: #000;
  margin-bottom: 24px;
  overflow: hidden;
}
.details p {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  color: #111;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 24px;
}
.splitting .word {
  white-space: nowrap;
}
.animate-zoomin {
  will-change: transform;
}
/* product-sku  */
.product-sku__name {
  font-family: var(--font-heading);
  font-size: 180px;
  line-height: 150px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 50px);
  width: 100%;
  text-align: center;
  max-width: 900px;
  /* white-space: nowrap; */
  z-index: -1;
  /* opacity: 0; */
  /* visibility: hidden; */
}
section.product-variant {
  position: relative;
  width: 100%;
  will-change: transform;
}
.product-sku {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.product-variant .product-variant-content {
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.product-variant.done .product-variant-content {
  opacity: 0;
  visibility: hidden;
}
.product-variant.done .product-sku {
  opacity: 1;
  visibility: visible;
}
.product-variant.done .product-sku__gif {
  opacity: 1;
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.product-variant .product-sku__name .char {
  clip-path: inset(100% 0% 0% 0%);
  display: inline-block;
  transition: clip-path 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.product-variant.done .product-sku__name .char {
  clip-path: inset(0% 0% 0% 0%);
}

.product-variant.done .product-sku__img {
  opacity: 1;
  visibility: visible;
  transform: translateY(80px);
  transition: opacity 0.8s ease, transform 0.7s ease;
  transition-delay: 1.3s;
}
.product-sku__container {
  position: relative;
  height: 660px;
  width: calc(100vw - 120px);
  max-width: 1280px;
  /* max-height: 660px; */
}
.product-sku__gif {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease 0s, clip-path 0.7s ease 0.2s;
  clip-path: polygon(44% 43%, 56% 43%, 56% 61%, 44% 61%);
}
.product-sku__gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-sku__img {
  width: auto;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(120px);
}
.product-sku__img img {
  width: auto;
  height: 100%;
}
.button-info {
  position: absolute;
  top: 60%;
  left: 44%;
  transform: translateX(-50%);
  z-index: 99;
}
.button-info .button-circle {
  opacity: 1;
  visibility: visible;
}
.button-info .button-circle .text {
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 120px;
  height: 12px;
  transform: translateY(-50%) !important;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.button-info .button-circle:hover .text {
  opacity: 1;
  visibility: visible;
}
.button-info .button-circle .text::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 8px !important;
  line-height: 12px;
  font-family: var(--font-body);
}
@media (max-width: 1600px) {
  .product-sku__container {
    height: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .ball-text {
    font-size: 2rem;
    right: 50%;
    bottom: 25%;
    transform: translate(50%, 50%);
  }
  h1 {
    font-size: 2rem;
  }
}
/* end section intro */
@media (max-width: 767px) {
  .hero__img {
    padding: 64px 24px 0;
  }
  .header__container {
    padding: 20px 0;
  }
  .sticky-menu__container ul li {
    padding: 6px;
  }
  .sticky-menu__container ul li a.btn-buy {
    margin-left: 6px;
  }
  .sticky-menu__container ul li:nth-child(4) {
    padding-left: 0;
    padding-right: 6px;
    margin: 0;
  }
  .sticky-menu__container ul li:nth-child(4) a {
    margin-left: 0;
  }
  .details h1 {
    padding: 0 24px;
  }

  /* .details {
    background-color: var(--bg-body);
  }
  .intro {
    background-color: var(--bg-body);
  } */
  .intro {
    background-color: var(--bg-body);
  }
}
