section.product-detail {
  height: 100vh;
}

section.product-detail .wrapper-image {
  width: max-content;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

section.product-detail img {
  width: auto;
  height: 730px;
  object-fit: contain;
  transition-duration: 0.7s;
}

section.product-detail .img {
  position: relative;
  /* transition-duration: 0.5s; */
  height: 730px;
}

section.product-detail .button-circle[data-tab="tab1"] {
  position: absolute;
  left: 64%;
  top: 34.5%;
}

section.product-detail.product-2 .button-circle[data-tab="tab1"] {
  left: 48%;
  top: 47%;
}

section.product-detail.product-2 .button-circle[data-tab="tab2"] {
  left: 21%;
  top: 62%;
}

section.product-detail.product-2 .button-circle.open[data-tab="tab2"] {
  left: 30%;
  top: 80%;
}

section.product-detail .button-circle[data-tab="tab2"] {
  position: absolute;
  left: 51.5%;
  top: 57%;
}

section.product-detail .button-circle[data-tab="tab3"] {
  position: absolute;
  left: 20%;
  top: 72%;
}

section.product-detail .button-circle .text {
  color: #ffffff;
  text-shadow: 0 0 3px rgba(24, 24, 24, 0.8);
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 150px;
  height: 12px;
  transform: translateY(-50%) !important;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
/* section.product-detail .button-circle:hover .text::after {
  font-size: 8px !important;
} */
section.product-detail .button-circle .text::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 8px !important;
  line-height: 12px;
  font-family: var(--font-body);
}

section.product-detail .button-circle:hover .text,
section.product-detail .button-circle.open .text {
  opacity: 1;
  visibility: visible;
}

section.product-detail .button-circle.open .text {
  margin-left: 5px;
}

section.product-detail .button-circle.open .text::after {
  content: "CLOSE";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 10px !important;
}

section.product-detail .list-button {
  width: 40px;
  height: 0;
}

section.product-detail .content.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* section.product-detail.done.open {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
} */

section.product-detail .content.active .wrapper-image {
  max-width: 50%;
}

section.product-detail .wrapper-content {
  width: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section.product-detail .content.active .wrapper-content {
  /* max-width: 50%; */
}

section.product-detail .content {
  width: 100%;
  display: flex;
}

section.product-detail .wrapper-content .tab {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateX(100%);
  transition-duration: 1s;
  transition-delay: 0.2s;
}

section.product-detail .content.active .tab {
  transform: translateX(0);
  transition-delay: 0.7s;
}

section.product-detail .content.active .tab.active {
  z-index: 2;
}

section.product-detail .wrapper-content .tab-img {
  width: 100%;
  aspect-ratio: 465 / 348;
  margin-top: 40px;
  position: relative;
}

section.product-detail .wrapper-content .tab-img.has-hover:hover img {
  opacity: 0;
  visibility: hidden;
}

section.product-detail .wrapper-content .tab-img.has-hover:hover img.img-hover {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

section.product-detail .wrapper-content .tab-img.has-hover img.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

section.product-detail .wrapper-content .tab-img.has-hover img:not(.img-hover) {
  z-index: 2;
}

section.product-detail .wrapper-content .tab img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

section.product-detail .wrapper-content .tab .desc {
  margin-top: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #111111;
  font-family: var(--font-body);
}

section.product-detail .wrapper-content .tab .title {
  font-size: 36px;
  line-height: 43px;
  color: #000;
  font-family: var(--font-heading);
  margin-bottom: 0;
}

section.product-detail .content.active .img img {
  transition-delay: 1s;
}

section.product-detail .content.active.tab1 .img img {
  transform: scale(2.5) translate(-100px, 100px);
  transition-duration: 0.7s;
}

section.product-detail.product-2 .content.active.tab1 .img img {
  transform: scale(2.5) translate(40px, 20px);
}

section.product-detail.product-2 .content.active.tab2 .img img {
  transform: scale(2.5) translate(140px, -20px);
}

section.product-detail .content.active.tab1 .button-circle[data-tab="tab1"] {
  left: 55%;
  top: 48%;
}

section.product-detail .content.active.tab2 .img img {
  transform: scale(2.5) translate(-20px, 0);
  transition-duration: 0.7s;
}

section.product-detail .content.active.tab3 .img img {
  transform: scale(2) translate(100px, -90px);
  transition-duration: 0.7s;
}

.button-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: border 0.3s ease-in;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.product-detail.animate-zoomin.done .button-circle {
  opacity: 1;
  visibility: visible;
}

.button-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.button-circle.open::before {
  width: 30px;
  height: 30px;
  border: none;
}

.button-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  transform-origin: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #fff;
  color: #fff;
  animation: scalebutton 4s infinite;
  z-index: 2;
}

.button-circle.open::after {
  background-color: transparent;
  background-image: url("../images/svg/product-detail-close.svg");
  background-size: cover;
  animation: none;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border: none;
}

.button-circle.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 2;
  transition: opacity 300ms;
  opacity: 0;
}

@keyframes scalebutton {
  0% {
    opacity: 0;
    border-width: 2px;
    transform: scale(0);
    background-color: currentColor;
  }
  50% {
    opacity: 1;
    transform: scale(1);
    border-width: 2px;
    background-color: currentColor;
  }
  100% {
    opacity: 0;
    border-width: 1px;
    background-color: transparent;
    transform: scale(2);
  }
}

section.product-variant {
  height: 100vh;
  /* margin-top: 100px; */
}

section.product-variant .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

section.product-variant .content-top {
  width: calc(100% / 3);
  max-width: 440px;
  position: relative;
}

section.product-variant .content-bottom {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 480px;
}

section.product-variant .content-bottom .title {
  font-weight: 400;
  font-size: 100px;
  line-height: 108px;
  color: rgba(142, 142, 141, 0.4);
  font-family: var(--font-heading);
  text-align: center;
}

section.product-variant .content-top__image {
  width: 100%;
  aspect-ratio: 474 / 486;
  position: relative;
  z-index: 2;
  margin-top: 40px;
}

section.product-variant .content-top__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.product-variant .content-top__image img.active {
  opacity: 1;
  visibility: visible;
}

section.product-variant .content-top__sku {
  color: #cccccb;
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

section.product-variant .content-top__buynow {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  padding: 12px 24px;
  background-color: #000;
  text-decoration: none;
  width: max-content;
  margin: 20px auto 0;
  display: block;
}

section.product-variant .content-pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  list-style: none;
  padding-left: 0;
}

section.product-variant .content-pagination li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-main);
  position: relative;
  cursor: pointer;
  min-width: 20px;
}

section.product-variant .content-pagination li::before {
  content: attr(data-variant);
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  transform: translateY(-50%);

  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  color: #111;
  font-weight: 400;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  text-transform: capitalize;
}

section.product-variant .content-pagination li:hover::before {
  opacity: 1;
  visibility: visible;
}

section.product-variant .content-pagination li.active::after {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%;
  border: 1px solid var(--color-main);
  position: absolute;
  top: -2px;
  left: -2px;
}

/* button animate */
.button-custom {
  --background: transparent;
  --text: #fff;
  --font-size: 12px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  display: block;
  outline: none;
  appearance: none;
  border: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}

.button-custom div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}

.button-custom div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
  min-width: 4px;
}

.button-custom div span:nth-child(1) {
  transition-delay: 0.05s;
}

.button-custom div span:nth-child(2) {
  transition-delay: 0.1s;
}

.button-custom div span:nth-child(3) {
  transition-delay: 0.15s;
}

.button-custom div span:nth-child(4) {
  transition-delay: 0.2s;
}

.button-custom div span:nth-child(5) {
  transition-delay: 0.25s;
}

.button-custom div span:nth-child(6) {
  transition-delay: 0.3s;
}

.button-custom div span:nth-child(7) {
  transition-delay: 0.35s;
}

.button-custom div span:nth-child(8) {
  transition-delay: 0.4s;
}

.button-custom div span:nth-child(9) {
  transition-delay: 0.45s;
}

.button-custom div span:nth-child(10) {
  transition-delay: 0.5s;
}

.button-custom div span:nth-child(11) {
  transition-delay: 0.55s;
}

.button-custom div span:nth-child(12) {
  transition-delay: 0.6s;
}

.button-custom:hover span {
  --m: calc(var(--font-size) * -1);
}

@media (max-width: 1600px) {
  section.product-detail .img {
    height: 600px;
  }

  section.product-detail img {
    height: 600px;
  }
}
